/* colours */
:root{
    --primary: #ffe9d2;
    --secondary: #ffe1c4;
    --title: #FF8816;

}
/* layout style */
nav{
    background: var(--primary);
    border-bottom: 10px solid var(--secondary);
}


